.dialog{
    padding: 2rem;
}
.cocktail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 16px;
  }

  .cocktail-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--bg-color); 
    padding: 10px; 
    margin: 1px; 
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease; /* Animación suave al pasar el cursor */
  }

  .cocktail-item img {
    border-radius: 8px;
  }

  .cocktail-item:hover {
    transform: scale(1.1); /* Pequeño incremento al pasar el cursor */
  }  