<div class="dialog">
<div *ngIf="cocktailsByCategory && cocktailsByCategory.length > 0">
    <h2>Cócteles en la categoría: {{ category }}</h2>
    <div class="mt-2">
        <div  class="cocktail-grid" style="max-height: 400px; overflow-y: auto;">
            <div *ngFor="let drink of cocktailsByCategory" (click)="navigateToCocktailDetail(drink.idDrink)" class="cocktail-item" >
                <img [src]="drink.strDrinkThumb" alt="{{ drink.strDrink }}" width="75" height="75"
                    style="object-fit: cover;">
                <p>{{ drink.strDrink }}</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cocktailsByCategory && cocktailsByCategory.length === 0">
    <p>No se encontraron cócteles en esta categoría.</p>
</div>
</div>