.header{
    color: var(--text-color);
    
    width: 100%;
    a{
        color: var(--text-color);
        text-decoration:none;
        transition: 0.3s ease-in-out;
        border-bottom: 3px solid transparent;
        display: inline-block;
    }
    span{
        color: var(--main-color);
    }
}

.navbar{
    background-color:var(--bg-color);
}