/* Espaciado adicional para las celdas y filas */
tr.mat-header-row {
    padding: 15px;
  }
  
  tr.mat-row {
    padding: 15px;
  }

  .img-tabla{
    border-radius: 8px;
    padding: 4px;
  }

  .link {
    color: blue;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease; /* Animación suave al pasar el mouse */
  }
  
  .link:hover {
    color: darkblue; /* Cambia a un tono más oscuro al pasar el mouse */
  }  
  