<div class="container m-5 h-100">
  <div class="row h-100">
    <div class="col d-flex justify-content-center align-items-center">
      <mat-card class="cocktail-card" appearance="outlined">
        <mat-card-header class="d-flex justify-content-between align-items-center">
          <mat-card-title>{{ cocktail?.strDrink }} </mat-card-title>
          <div class="d-flex justify-content-end align-items-center">
            <ng-container *ngIf="cocktail?.strAlcoholic == 'Alcoholic'; else noAlcoholic">
            <i class="material-icons icono-alc"[style.color]="'green'">local_bar</i>
          </ng-container>

          <ng-template #noAlcoholic>
            <i class="material-icons" [style.color]="'red'">no_drinks</i>
          </ng-template>
        </div>

        </mat-card-header>
        <div class="d-flex justify-content-center align-items-center p-4">
          <img class="m-2 cocktail-image" style="border-radius: 16px;" mat-card-image [src]="cocktail?.strDrinkThumb"
            alt="{{ cocktail?.strDrink }}">
        </div>

        <mat-card-content>
          <h3>Ingredientes</h3>
          <ul class="mt-4">
            <li *ngFor="let ingredient of ingredients">
              <img [src]="ingredient.imageUrl" alt="{{ ingredient.name }} imagen"
                style="width:50px; height:50px; margin-right:10px;">
              {{ ingredient.name }} - {{ ingredient.measure }}
            </li>
          </ul>
          <!-- Instrucciones -->
          <div class="d-flex justify-content-between align-items-center">

            <h3>Instructions</h3>
            <div>
              <button class="m-2" mat-fab (click)="updateInstructions('en')"><span
                  class="flag-icon flag-icon-gb"></span></button>
              <button class="m-2" mat-fab (click)="updateInstructions('es')"> <span
                  class="flag-icon flag-icon-es"></span></button>
              <button class="m-2" mat-fab (click)="updateInstructions('it')"> <span
                  class="flag-icon flag-icon-it"></span></button>
              <button class="m-2" mat-fab (click)="updateInstructions('DE')"> <span
                  class="flag-icon flag-icon-de"></span></button>
              <button class="m-2" mat-fab (click)="updateInstructions('fr')"> <span
                  class="flag-icon flag-icon-fr"></span></button>
            </div>
          </div>

          <p class="mt-4">{{ this.instructions }}</p>

          <h2>Cócteles por Categoría: {{cocktail?.strCategory}}</h2>
          <owl-carousel-o class="mt-3" *ngIf="cocktails.length > 0" [options]="carouselOptions">
            <ng-container *ngFor="let drink of cocktails">
              <ng-template carouselSlide>
                <mat-card (click)="navigateToCocktailDetail(drink.idDrink)" class="cocktail-slide m-2 card">
                  <mat-card-header>
                    <p class="carousel-item">{{ drink.strDrink }}</p>
                  </mat-card-header>
                  <img mat-card-image (click)="navigateToCocktailDetail(drink.idDrink)" [src]="drink.strDrinkThumb"
                    alt="{{ drink.strDrink }}">
                </mat-card>
              </ng-template>
            </ng-container>
          </owl-carousel-o>



        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div>


</div>