.cocktail-card{
    max-width: 600px;
}

.flag-icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    border-radius: 50%; 
  }
  
  .flag-icon-es { background-image: url('https://cdn.jsdelivr.net/gh/lipis/flag-icon-css/flags/1x1/es.svg'); }
  .flag-icon-it { background-image: url('https://cdn.jsdelivr.net/gh/lipis/flag-icon-css/flags/1x1/it.svg'); }
  .flag-icon-de { background-image: url('https://cdn.jsdelivr.net/gh/lipis/flag-icon-css/flags/1x1/de.svg'); }
  .flag-icon-fr { background-image: url('https://cdn.jsdelivr.net/gh/lipis/flag-icon-css/flags/1x1/fr.svg'); }
    .flag-icon-gb { background-image: url('https://cdn.jsdelivr.net/gh/lipis/flag-icon-css/flags/1x1/gb.svg');}

    .carousel-item {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 5.5rem; /* Aquí puedes ajustar el alto según lo necesites */
      box-sizing: border-box;
    }
    
    .carousel-item img {
      max-width: 100%;
      border-radius: 8px;
    }
    
    .carousel-item .mat-card-title {
      margin-top: 5px;
      font-size: 0.5rem;
    }
    
    .owl-carousel .cocktail-slide {
      height: 5.5rem; /* Igual que el alto del carousel */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
    }
    
    .cocktail-image {
      border-radius: 16px;
      height: 30rem;
      width: 30rem;
      object-fit: cover; /* Asegura que la imagen no se distorsione */
    }
    
    .icono-alc{
      padding: 0.5rem;
    }
    .text-center {
      text-align: center;
      vertical-align: middle;
    }
    